<!-- Footer Area -->
<footer class="mt-5 p-5">
  <p class="text-center">&copy; Copyright 2021 | Scholar Social</p>
</footer>

</main>
<script src="./js/jquery-2.2.4.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>